{% extends "base.html" %}
{% block title %}
<div class="text-center">
<h1 class="text-danger">LanguageCardsLearn</h1>
    </div>
{% endblock %}
{% block content %}
<h3 class="text-center">Learning words</h3>
<p>Choose language</p>
<form method="post" >
        {% csrf_token %}
    <select name="language" id="language">
        <option id="select" value="select" disabled="" selected="">Please Select</option>
        <option value="ru">Russian</option>
        <option value="ge">German</option>
        <option value="fr">French</option>
        <option value="es">Spanish</option>
        <option value="it">Italian</option>
    </select>
         <button type="submit" class="btn btn-primary" onclick="choose()">
        Choose</button>
</form>
<h4>{{ error }}</h4>
<table class="table-bordered">
       <thead>
    <tr>
      <th scope="col">Word</th>
      <th scope="col">Meaning</th>
      <th scope="col">Learning rate</th>
    </tr>
  </thead>
{% for learn in query %}
        {% for word in learn.learningtomeaning_set.all %}
         <tbody>
         <tr>
      <td>{{ learn.lword }}</td>
      <td>{{ learn.mword }}</td>
      <td>{{ word.learning_rate }}</td>
            </tr>
        {% endfor %}
        </tbody>
    {% endfor %}
        </table>
{% endblock %}
