{% extends "base.html" %}
{% block title %}
<div class="text-center">
<h1 class="text-danger">LanguageCardsLearn</h1>
    </div>
{% endblock %}
{% block content %}
<h3 class="text-center">Learning words</h3>
<form method="post" >
        {% csrf_token %}
    <p>Choose the learning language:</p>
    <select name="learnlang" id="learnlang">
        <option value="en">English</option>
        <option value="ru">Russian</option>
        <option value="ge">German</option>
        <option value="fr">French</option>
        <option value="es">Spanish</option>
        <option value="it">Italian</option>
    </select>
    <p>Choose the meaning language:</p>
    <select name="meanlang" id="meanlang">
        <option value="en">English</option>
        <option value="ru">Russian</option>
        <option value="ge">German</option>
        <option value="fr">French</option>
        <option value="es">Spanish</option>
        <option value="it">Italian</option>
    </select>
         <button type="submit" class="btn btn-primary" onclick="choose()">
        Choose</button>
</form>
{% if error %}
<h4>{{ error }}</h4>
{% else %}
<table class="table-bordered">
       <thead>
    <tr>
      <th scope="col">Word</th>
      <th scope="col">Meaning</th>
      <th scope="col">Learning rate</th>
        <th scope="col">Learning language</th>
        <th scope="col">Meaning language</th>
    </tr>
  </thead>
{% for learn in query %}
        {% for word in learn.learningtomeaning_set.all %}
         <tbody>
         <tr>
             <td>{{ learn.lword }}</td>
             <td>{{ learn.mword }}</td>
             <td>{{ word.learning_rate }}</td>
             <td>{{ word.learning_lang }}</td>
             <td>{{ word.meaning_lang }}</td>
            </tr>
        {% endfor %}
        </tbody>
    {% endfor %}
        </table>
{% endif %}
{% endblock %}
